.root {
    -fx-focus-color: transparent;
}

.list-view
{
    -fx-background-color: transparent;
}

.list-cell
{
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #0a041c;
    -fx-effect: innershadow(two-pass-box , transparent , 0, 0.0 , 0 , 0);
}

.openTicketsTab {
    -fx-background-color: #14093b;
    -fx-text-fill: #ffffff;
}

.openTicketsTab:hover{
    -fx-cursor: hand;
}

.button:hover {
    -fx-cursor: hand;
}

.tab-label {
    -fx-text-fill: white;
}